custom/zsh

vim/undos
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/autoload/*
vim/dein/*
!vim/dein/Shougo/dein.vim
vim/sessions
.netrwhist
bin/subl
tags

vim/ftplugin/go/gocomplete.vim
