[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "keyboard"]
	path = keyboard
	url = git@github.com:mrap/keyboard.git
[submodule "zsh/fshow"]
	path = zsh/fshow
	url = git@gist.github.com:f4fca918e937e6bf5bad.git
[submodule "chrome/chromium-vim"]
	path = chrome/chromium-vim
	url = https://github.com/1995eaton/chromium-vim.git
[submodule "zsh/prezto-themes/zsh-prompt-garrett"]
	path = zsh/prezto-themes/zsh-prompt-garrett
	url = https://github.com/chauncey-garrett/zsh-prompt-garrett.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
